/* Common */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background-color: #191919;
  color: #f1f1f1;
  box-sizing: border-box;
}
.btn {
  border: none;
  height: 56px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
  outline: none;
  color: #f1f1f1;
  background-color: #171717;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: #b80a0a;
}
.btn-primary {
  color: #0e0e0e;
  background-color: #b80a0a;
  transition: 0.3s;
}
.btn-primary:hover {
  color: #f1f1f1;
  background-color: #b80a0a;
}
button {
  border: none;
}
input {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  cursor: pointer;
}

/* Loading Animation */
.the-loader {
  width: 26px;
  height: 26px;
  margin: 30px auto;
  border: 4px solid #b80a0a;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loader 1s infinite linear;
}
.the-loader.hide {
  display: none;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* SearchPage */
.searchpage {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

/* toTop */
.to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 46px;
  height: 46px;
  font-size: 20px;
  border-radius: 50%;
  color: #b80a0a;
  background-color: #f1f1f1;
  cursor: pointer;
}
